.wrapper_with_padding
  #items.clearfix
    - @items.each do |item|
      .item
        .imagesSizes
        =link_to image_tag(item.image.url, :size => "200x200"), item

    = link_to "new", new_item_path
