/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #E9E9E9;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  .navbar-brand {
    a {
      color: #BD1E23;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


#item_show {
  .title {
    // @include bold_font;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E9E9E9;
  }
  p {
    font-size: 1.375rem;
    line-height: 1.75;
  }
  .buttons {
    margin-top: 3rem;
    a.button {
      padding: .5rem 2rem;
      border-radius: 2rem;
      text-decoration: none;
      color: green;
      border: 5px solid #E9E9E9;
      // @include bold_font;
      background: pink;
    }
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


#items {
  .item {
    // background: $dark_gray;
    background: black;
    width: 30%;
    min-height: 150px;
    margin: 1rem 1%;
    padding: 1.5rem 2.5%;
    float: left;
    border-radius: .4rem;
    position: relative;
    .title {
      // @include bold_font;
      color: white;
      margin: 0;
      letter-spacing: 1px;
    }
  }
}
